body {
  margin: 0px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.center {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

h3 {
  font-weight: lighter;
}

/* nav and title section */
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: black;
  padding: 0px 15px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

nav .menu {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 15px 15px;
}

/* mission section */
#mission-stmt-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  background: url("/resources/photo-1486406146926-c627a92ad1ab.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mission-stmt-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 200px;
}

/* product section */

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-content-item {
  margin: 0px 100px;
}

.img-container img {
  height: 200px;
}

.product-content {
  padding: 30px;
}

/* employee section */
#employees-section {
  background: url("/resources/360_F_96894032_R1eY5W4QJZPC8OepL5iJKqBQBaXuvLTC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.employee-title {
  color: white;
  padding-top: 1.5rem;
}

.employees-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.employee-content-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  margin: 2rem;
}

.employee-content-item img {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}

.employee {
  color: white;
  padding-bottom: 2rem;
}

/* Footer */
.email {
  margin: 50px;
}
.copyright {
  text-align: left;
  margin: 20px;
  font-size: smaller;
  font-weight: lighter;
}
